@media(min-width: 1200px) {
    .secao-duvidas .seta:first-of-type {
        left: 25%;
    }
    
    .secao-duvidas .seta.seta-inversa {
        right: 25%;
    }
}


@media(min-width: 1010px) {

    .rodape {
        margin-top: 120px;
    }
}

@media(max-width: 1200px) {
    .servico {
        flex-direction: column;
        margin-top: 140px;
    }

    .servico img {
        width: 250px;
    }

    .servico .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .habilidades {
        margin: 110px 10px 10px 10px;
    }

    .habilidades h2 {
        margin: 7vh 0px 40px 0px;
    }

    .habilidades .habilidades-tecnicas li:hover {
        transform: scale(0.9);
    }

    .habilidades .habilidades-tecnicas li:first-child img {
        margin-left: 0px;
    }

}

@media(max-width: 1000px) {
    div.container {
        width: 590px;
        height: 347px;
    }

}

@media(max-width: 850px) {
    .menu li {
        display: none;
    }

    .cabecalho .menu li:first-child {
        display: flex;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

}

@media(max-width: 830px) {
    div.container {
        width: 590px;
        height: 347px;
    }

    .duvidas-frequentes {
        margin-left: 100px;
    }
}

@media(max-width: 720px) {

    .secao-duvidas .seta {
        cursor: pointer;
        position: absolute;
        border: 5px solid #ffffff;
        padding-left: 10px;
        transition: 0.4s ease-in-out;
        border-radius: 15px;
        background-color: rgba(185, 184, 184, 0.4);

    }

    .secao-duvidas .seta:first-of-type {
        left: 9%;
    }

    .secao-duvidas .seta.seta-inversa {
        right: 9%;
    }

    .secao-duvidas .seta,.seta-inversa {
          height: 100px;
          bottom: -6vh;
          background-color: #444244;
    }

    div#carrosel #duvida {
        max-width: 390px;
    }

    div#carrosel #resposta {
        margin: 0px 10px;
        text-align: center;
        max-width: 390px;
    }

    #icone-de-localizacao {
        display: none;
    }

    .introducao h2 {
        width: 410px;
    }
}

@media(max-width: 715px) {
    .servico .texto p {
        font-size: 2.8vh;
        margin: 0px 30px 10px 30px;
    }
}

@media(max-width: 850px) {

    #icone-menu-hamburguer {
        display: flex;
    }
}

@media(min-width: 850px) {
    .mini-menu {
        display: none;
    }
}

@media(max-width: 635px) {
    .habilidades h2 {
        padding: 10px 70px 10px 70px;
    }

    .habilidades .habilidades-tecnicas li img {
        width: 98px;
    }
}

@media (max-width: 500px) { 
    
    div#carrosel {
        width: 80%;
        height: 20em;
    }

    div#carrosel #duvida {
        font-size: 18px;
        margin: 0px 20px 10px 20px;
    }

    
    div#carrosel #resposta {
        font-size: 15px;
        text-align: center;
        hyphens: none;
    }
    
}

@media (max-width: 488px) {

    .servico .texto h1 {
        font-size: 6vw;
    }

    .servico .texto p {
        font-size: 5.3vw;
    }
    
    

    .habilidades h2 {
        font-size: 23px;
    }

    .habilidades .habilidades-tecnicas li img {
        width: 65px;
    }

    .habilidades .habilidades-tecnicas {
        gap: 48px;
    }

}

@media(max-width: 470px) {

    #resposta {
        margin: 10px 30px 15px -7px;
    }

}

@media(max-width: 460px) {
    .rodape h2 {
        font-size: 16px;
    }
}

@media(max-width: 425px) {

    div.linha-divisoria {
        width: 317px;
        margin: 10px 0px 15px -10px;
    }
}

@media(max-width: 419px) {

    .habilidades h2 {
        font-size: 18px;
    }

    .habilidades .habilidades-tecnicas {
        gap: 20px;
    }
}

@media(max-width: 374px) {
    .area-de-perguntas div.container {
        width: 330px;
        height: 405px;
    }

    div.linha-divisoria {
        width: 285px;
    }

    div.duvida p:hover {
        color: rgb(23, 11, 192);
        transition: 0.2s ease-in-out;
    }
}

@media(max-width: 345px) {
    .area-de-perguntas div.container {
        width: 285px;
        height: 405px;
    }

    div.linha-divisoria {
        width: 243px;
    }

}

@media(max-width: 323px) {

    .servico img {
        width: 170px;
    }

    div#carrosel #duvida {
        font-size: 15px;
        margin: 0px 20px 10px 20px;
    }

    
    div#carrosel #resposta {
        font-size: 14px;
        text-align: center;
        hyphens: none;
    }
    
}

@media(max-width: 330px) {
    .redes ul {
        display: flex;
        flex-direction: column;
    }

    .rodape p {
        font-size: 14px;
    }


}

@media(max-width: 310px) {
    .introducao h2 {
        font-size: 35px;
    }
}

@media(max-width: 288px) {
    .habilidades h2 {
        font-size: 16px;
    }

    .habilidades .habilidades-tecnicas {
        flex-direction: column;
        gap: 14px;
    }

}

@media(max-width: 270px) {
    .introducao h2 {
        font-size: 25px;
    }
}