@media(max-width: 1200px) {
    .servico {
        flex-direction: column;
        margin-top: 140px;
    }

    .servico img {
        width: 250px;
    }

    .servico .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .habilidades {
        margin: 110px 10px 10px 10px;
    }

    .habilidades h2 {
        margin: 0px 0px 40px 0px;
    }

    .habilidades .conhecimento-de-programacao li:hover {
        transform: scale(0.9);
    }

    .habilidades .conhecimento-de-programacao li:first-child img {
        margin-left: 0px;
    }

}

@media(max-width: 1000px) {
    div.container {
        width: 590px;
        height: 347px;
    }

    .imagem-da-area {
        width: 200px;
        height: 200px;
        right: 490px;
        bottom: 85px;
    }

    .duvidas-frequentes {
        margin-left: 130px;
    }

    .secao-duvidas .seta {
        right: 6%;
    }

    .secao-duvidas .seta.seta-inversa {
        left: 6%;
    }

}

@media(max-width: 900px) {
    .secao-duvidas .seta {
        right: 2%;
    }

    .secao-duvidas .seta.seta-inversa {
        left: 2%;
    }
}

@media(max-width: 830px) {
    div.container {
        width: 590px;
        height: 347px;
    }

    .duvidas-frequentes {
        margin-left: 100px;
    }

    .imagem-da-area {
        width: 120px;
        height: 120px;
        bottom: 270px;
    }

    div.carrosel {
        width: 500px;
        height: 348px;
        box-shadow: 1px 10px 20px 6px #b8b8b8;
    }

    .conteudo-duvidas .pergunta {
        text-align: center;
    }

    #duvida-um .conteudo-duvidas .pergunta {
        transform: translateY(20px);
    }

    #duvida-dois .conteudo-duvidas h2 {
        max-width: 200px;
    }

    #duvida-tres .conteudo-duvidas .resposta {
        max-width: 252px;
    }

    #duvida-um .imagem img {
        margin-top: -1px;
        height: 101%;
        width: 200px;
    }

    #duvida-dois .imagem img {
        margin-top: -39px;
        height: 129%;
        width: 200px;
    }

    #duvida-tres .imagem img {
        margin-top: -39px;
        height: 129%;
        width: 200px;
    }

    #duvida-quatro .imagem img {
        margin-top: -14px;
        height: 109%;
        width: 200px;
    }

    #duvida-quatro .resposta {
        max-width: 230px;
    }

}

@media(max-width: 720px) {
    #icone-de-localizacao {
        display: none;
    }

    .introducao h2 {
        width: 410px;
    }
}

@media(max-width: 715px) {
    .servico .texto p {
        font-size: 18px;
        margin: 0px 30px 10px 30px;
    }
}

@media(max-width: 660px) {
    .menu li {
        display: none;
    }

    #icone-menu-hamburguer {
        display: flex;
    }

    .area-de-perguntas div.container {
        width: 490px;
        height: 347px;
    }

    .duvidas-frequentes {
        margin-left: 40px;
    }

    div.duvida .setas-fechadas {
        right: 20px;
    }

    .imagem-da-area {
        right: -30px;
        bottom: 270px;
    }

    .duvidas .imagem img {
        display: none;
    }

    div.carrosel {
        width: 400px;
        height: 348px;
        color: #fff;
        background: linear-gradient(rgba(168, 29, 126, 0.9), rgba(177, 32, 112, 0.9), rgba(170, 25, 110, 0.9)), url("../images/imagem-de-computador.png");
        background-size: contain;
    }

    #duvida-dois .conteudo-duvidas h2 {
        max-width: 300px;
        text-align: center;
    }

    #duvida-tres .conteudo-duvidas .resposta {
        max-width: 355px;
    }

    .carrosel .conteudo .pergunta {
        text-align: center;
    }

    .resposta span {
        color: rgba(10, 228, 108, 0.80);
        font-weight: bold;
    }

    #duvida-quatro .resposta {
        max-width: 352px;
    }
}

@media(min-width: 660px) {
    .mini-menu {
        display: none;
    }
}

@media(max-width: 635px) {
    .habilidades h2 {
        padding: 10px 70px 10px 70px;
    }

    .habilidades .conhecimento-de-programacao li img {
        width: 98px;
    }
}

@media(max-width: 560px) {
    div.carrosel {
        width: 360px;
        height: 348px;
        background-size: contain;
    }

}

@media(max-width: 490px) {

    div.carrosel {
        width: 320px;
        height: 328px;
    }

    #duvida-dois .conteudo-duvidas .resposta {
        font-size: 15px;
    }

    #duvida-um .conteudo-duvidas .resposta {
        font-size: 15px;
    }

    #duvida-um .conteudo-duvidas h2 {
        transform: translateY(20px);
    }
}

@media (max-width: 488px) {
    .servico .texto h1 {
        font-size: 28px;
    }

    .habilidades h2 {
        padding: 10px 30px 10px 30px;
        font-size: 23px;
    }

    .habilidades .conhecimento-de-programacao li img {
        width: 65px;
    }

    .habilidades .conhecimento-de-programacao {
        gap: 48px;
    }

}

@media(max-width: 470px) {
    .area-de-perguntas div.container {
        width: 410px;
        height: 380px;
    }

    div.duvida p {
        font-size: 15px;
        padding-right: 80px;
        padding-left: 40px;
        margin-left: -30px;
    }

    .imagem-da-area {
        right: 10px;
        bottom: 300px;
    }

    .duvidas-frequentes h2 {
        margin-top: 60px;
        margin-bottom: 14px;
        margin-left: -8px;
    }

    .resposta {
        font-size: 15px;
        margin: 10px 30px 15px -7px;
    }

}

@media(max-width: 460px) {
    .rodape h2 {
        font-size: 16px;
    }
}

@media(max-width: 450px) {
    div.carrosel {
        width: 250px;
        height: 388px;
    }

    #duvida-dois .conteudo-duvidas .resposta {
        text-align: center;
        min-width: 180px;
    }

    .carrosel .conteudo .pergunta {
        font-size: 18px;
    }

    #duvida-tres .conteudo-duvidas .resposta {
        text-align: center;
    }
}

@media(max-width: 430px) {
    .servico .texto h1 {
        font-size: 25px;
    }
}

@media(max-width: 425px) {
    .area-de-perguntas div.container {
        width: 360px;
        height: 380px;
    }

    div.duvida p {
        padding-right: 25px;
    }

    div.linha-divisoria {
        width: 317px;
        margin: 10px 0px 15px -10px;
    }
}

@media(max-width: 400px) {
    .servico .texto h1 {
        font-size: 22px;
    }

    .habilidades h2 {
        font-size: 18px;
    }

    .habilidades .conhecimento-de-programacao {
        gap: 20px;
    }
}

@media(max-width: 380px) {
    div.carrosel {
        width: 210px;
        height: 398px;
    }

    .carrosel .conteudo .pergunta {
        font-size: 17px;
        hyphens: auto;
    }

    .secao-duvidas .seta {
        width: 40px;
        height: 40px;
    }

}

@media(max-width: 374px) {
    .area-de-perguntas div.container {
        width: 330px;
        height: 405px;
    }

    .imagem-da-area {
        right: 10px;
        bottom: 320px;
    }

    div.linha-divisoria {
        width: 285px;
    }

    div.duvida p {
        font-size: 14px;
        padding-right: 25px;
        margin-left: -30px;
    }

    div.duvida .setas-fechadas {
        display: none;
    }

    div.duvida p:hover {
        color: rgb(23, 11, 192);
        transition: 0.2s ease-in-out;
    }

    .resposta {
        font-size: 15px;
        margin: 10px 61px 15px -7px;
    }
}

@media(max-width: 350px) {
    .servico .texto h1 {
        width: 170px;
    }
}

@media(max-width: 345px) {
    .area-de-perguntas div.container {
        width: 285px;
        height: 405px;
    }

    div.duvida p {
        padding-right: 62px;
    }

    .resposta {
        font-size: 15px;
        margin: 10px 90px 15px -7px;
    }

    div.linha-divisoria {
        width: 243px;
    }

}

@media(max-width: 323px) {
    .servico img {
        width: 170px;
    }
}

@media(max-width: 330px) {
    .redes ul {
        display: flex;
        flex-direction: column;
    }

    .rodape p {
        font-size: 14px;
    }


}

@media(max-width: 310px) {
    .introducao h2 {
        font-size: 35px;
    }

    .servico .texto p {
        font-size: 15px;
    }
}

@media(max-width: 288px) {
    .habilidades h2 {
        font-size: 16px;
    }

    .habilidades .conhecimento-de-programacao {
        flex-direction: column;
        gap: 14px;
    }

}

@media(max-width: 270px) {
    .introducao h2 {
        font-size: 25px;
    }
}

@media(max-width: 275px) {
    .servico .texto h1 {
        margin-left: 20px;
    }

    .servico .texto p {
        font-size: 12px;
    }
}